<head>

	<title>Project V-Πεις</title>
	
	<meta charset="utf-8">
	
	<link rel = "shortcut icon" type="image/png" href = "icon.png"> 
 	
	<style>
			h1{
				text-shadow:8px 3px 38px black
				}
			h3{
				text-shadow:8px 3px 38px black
				}
			h5{
				font-size:12px
				}
			body{
				background-color:#00997a;
				font-size:22px
				}
			header{
				font-size:23px
				}
			.hatemost{
				height:260px;
				width:330px
				}
			.asarkos{
				height:260px;
				width:330px
				}
			.fortsatos{
				height:260px;
				width:330px
					}
			.kalitexnes{
				display:none
				}
			.it:hover img{
				border:4px solid #298B33;
				display: inline-block
					}
			.it:hover h4 {
				display:block
				}
			img{
				height:190px;
				width:225px;
				vertical-align:middle
				}
			.codek:hover{
				background-color:yellow
				}
			.parakalima{
				display:none
				}
			span:hover div{
				display:block
				}
			code{
				font-size:13px
				}
			.apeiron{
				position:relative;
				right:20px;
				top:25px
				}
			.complex{
				position:relative;
				right:40px;
				z-index:-1
				}
			.og{
				position:relative;
				right:60px;
				top:25px
				}
			.mvp{
				position:relative;
				right:80px;
				z-index:-1
				}
			.famprika{
				position:relative;
				right:100px;
				top:25px
				}
			h2{
				color:black;
				font-size:22px
			}
			.ttt{
				display:none
				}
			.singles:hover h4{
				display:block
				}
			header{
				font-size:20.3px
				}
			.NOR{
				position:relative;
				left:100px;
				z-index:-1
				}
			.NORA{
				position:relative;
				left:60px;
				}
			h4{
				position:relative;
				font-size:19px;
				font-weight: normal;
				left:57px
				}
				
			
				</style>
			
</head>

<body>
	
	<center><h1><b><u> Project V-Πεις </u></center></h1></b>
	
	<header><i> Αυτή η ιστοσελίδα αποτελεί ένα project με το οποίο έχω την δυνατότητα να εξασκήσω τις δεξιότητες μου στην κατασκευή απλών ιστοσελιδών ενώ παράλληλα κατασκευάζω μια πηγή πληροφόρησης για τους αγαπημένους μου καλλιτέχνες.</i></header>
	
	<h3> Μερικές πληροφορίες για το κίνημα ΒΠ: </h3>
		Οι ΒήταΠεις είναι ελληνικό hip-hop συγκρότημα από την Αθήνα. Η κεντρικές θεματολογίες των κομματιών τους έχουν να κάνουν με κοινωνικά ζητήματα,συγχρονους προβληματισμούς με απότερο σκοπό (όπως τον αποκαλούν και οι ίδιοι), την "αφύπνιση του νου".Το Β.Π. σημαίνει "Βάπτισμα Πυρός". Στην αρχική και μετέπειτα δομή του σχήματος συμμετείχαν και ο Dask, ο Λάμπρος, ο Elz, ο Μr. Τickles και ο J-turn (πρώην μέλη).
		Οι ίδιοι θεωρούνται ως underground συγκρότημα,φέρνοντας νέες τεχνικές,ήχους και στυλ στην rap σκηνή,δίχως να ακολουθούν ευφήμερες μόδες.Ο ήχος τους μπορεί να θεωρηθεί εώς και ακατάληπτος για κάποιους,λόγο του στυλ γραφής και συχνά βαθιάς θεματολογίας των κομματιών.Να σημειωθεί ότι το συγκρότημα αποτελούταν κατά την δημιουργία του από την ένωση "Φίρμες" και "Ραψωδοί του Μίσους".
		Ακόμη, αυτήν την περίοδο ο Φορτσάτος βρίσκεται Αμερική και για αυτό δεν βρίσκεται στον δίσκο ΡΤΜ. Επρόκειτο βέβαια να επιστρέψει,συμμετέχοντας στον επόμενο τους δίσκο,μετά από τον ΡΤΜ.
	<h3>Τωρινά μέλη:</h3>
	
		<center class="it"><img src ="hatemost.jpg" class="hatemost" title="Hatemost"> &nbsp;<img src="asarkos.jpg" class="asarkos" title="Άσαρκος"> &nbsp;<img src="fortsatos.jpg" class="fortsatos" title="Φορτσάτος">
		<pre><h4 class="kalitexnes">  Hatemost                      Άσαρκος                    Φορτσάτος </h4></pre></center>
	
	<h3>Δίσκοι που έχουν κυκλοφορήσει ανά τα χρόνια:</h3><br>
	
		<center>
			<tr><td>Το Αθάνατο (2003) <a href="https://www.youtube.com/playlist?list=PLrGC1OZk8TvreCqMrZkET0xUbgPuFo7jT"target="_blank"><img src = "athanato.jpg"  class title = "Το Αθάνατο (2003)" class="Album pics"></a></td>
				<td>Αξέχαστο (2004) <a href="https://www.youtube.com/watch?v=CqOfTtuqiZc&list=PLrGC1OZk8TvosDkRDUeC3C6RVN46_nlW2" target="_blank"><img src = "axexasto.jpg" title = "Αξέχαστο (2004)"class="Album pics"></a></td>
				<td>Για Τους Οπαδούς (2006) <a href="https://www.youtube.com/watch?v=QhYTt7EAeP0&list=PLrGC1OZk8TvpZRTCQQPxzW_NL1dVihuGD" target="_blank"><img src = " gia tous opadous.jpg " title = "Για Τους Οπαδούς (2006)"class="Album pics"></a></td></tr><p>
			<tr><td>Άκυρον (2006) <a href="https://www.youtube.com/watch?v=0AQnCkSdbB4&list=PLrGC1OZk8TvrF2y6G0HsKdOvOdDi698j5" target="_blank"><img src = "akyron.gif" title = "Άκυρον (2006) "class="Album pics"></a></td> 
				<td>Συνάντηση 14:15 (2011) <a href="https://www.youtube.com/watch?v=Q26JcuFSdQ4&list=PLrGC1OZk8Tvol4n7Igy4909mlyhMACiyT" target="_blank"><img src = "sinantisi 1415.jpg" title = "Συνάντηση 14:15 σε συνεργασία με τους Επίλεκτους (2011)"class="Album pics"></a></td>
				&nbsp;<td> Εύφλεκτον (2012) <a href="https://www.youtube.com/watch?v=LootMhGMh38&list=PLrGC1OZk8Tvq_Y508Efdpn15BWIITLqJU" target="_blank"><img src = " Eflekton.jpg " title = " Εύφλεκτον (2012)"class="Album pics"></a></td><p>
			<tr><td>Βάπτισμα Πύρος (2012) <a href="https://www.youtube.com/watch?v=R3cDNCWoeVc&list=PLrGC1OZk8Tvo0yz8SD4d2BSL1v_chXAnW" target="_blank"><img src = "Vaptisma Pyros.jpg" title = "Βάπτισμα Πύρος (2012) "class="Album pics"></a></td> 
				<td>Εποχή (2014) <a href="https://www.youtube.com/watch?v=rDHv39rCHW4&list=PLrGC1OZk8TvpYLa25vskIvJR6R2ZM4ZmT" target="_blank"><img src = " epoxi.jpg " title = "Εποχή (2014)"class="Album pics"></a></td>
				<td> Ροή Του Μέλλοντος (2019-2020) <img src = "roh tou mellontos.jpg" title = " Ροή Του Μέλλοντος (Hatemost-Άσαρκος) (2019-2020)"class="Album pics"></td><p><br>
		</center>
	
	<h3>Singles albums από τα μέλη του κινήματος:</h3><br>
	
	
	
		<div class="singles">
			<pre><h4 class="ttt">                         Χειρόγραφα                          Complex                              MvP</h4></pre> 
				<center>
					<a href="https://www.youtube.com/watch?v=eTTjb4JckNM&list=PLQLCnK4N3O3MUHvqgDNNFQpvADBDTeXpD"target="_blank"><img src="xeirografa.jpg"class="xeirografa"></a>
					<a href="https://www.youtube.com/watch?v=oHjSN7q9roI"target="_blank"><img src="apeiron.jpg"class="apeiron"></a> 
					<a href="https://www.youtube.com/watch?v=XqA1cRk9J6c&list=PLQLCnK4N3O3MR9B7e6531tARzSk2p0rLT"target="_blank"><img src="complex.jpg"class="complex"></a> 
					<a href="https://www.youtube.com/watch?v=9ddAP62hXYQ&list=PLQLCnK4N3O3N_Wm2eMtG9bneN-Z9zaz6c"target="_blank"><img src="og.jpg"class="og"></a> 
					<a href="https://www.youtube.com/watch?v=sbvKdrdUcmU&list=PLQLCnK4N3O3MOeMxlkvJy6RBuAg3ABUpE"target="_blank"><img src="mvp.jpg"class="mvp"></a>
					<a href="https://www.youtube.com/watch?v=sbvKdrdUcmU&list=PLQLCnK4N3O3MOeMxlkvJy6RBuAg3ABUpE"target="_blank"> <img src="famprika.jpg"class="famprika"></a>
					<br><br>
				</center>
			<pre><h4 class="ttt">                                             Άπειρο                        Og Kush Bourbon                       Φάμπρικα</h4>
		</div>
	<h3>Latest release:</h3><br>
	<h4>Ροή Του Μέλλοντος - 07: Νύχτες Οργής</h4>
	<img src="VPL.jpg" class="NOR"><br><br>
	<audio controls class="NORA">
		<source src="VP1.mp3" type="audio/mpeg">
	</audio>
	<hr>Παραθέτω <a href ="https://github.com/Phenom23/V-Peis-Project" target="_blank" class="codek">τον κώδικα</a> σε περίπτωση που κάποιος θέλει να εμπλουτίσει την σελίδα.<br>
	Email για αποστολή κώδικα και απλών ιδεών: <span><i>gcn4ar@gmail.com</i><div class="parakalima"><code>Θα εκτιμούσα την παράθεση κώδικα ώστε η σελίδα να γίνει mobile friendly και να βελτιωθεί η προβολή των εικόνων των άλμπουμ.Επίσης,η επλούτιση με εφέ javascript θα ήταν υπερκαλοδεχούμενη.</code></div></span>
	<hr><code><i><h5>2020 And still under development <u>beta version:0.9.2</h5></i></code>
	
</body>